<%- layout('layout/boilerplate') %>

<div class="columns">
  <div class="column is-2"></div>
  <div class="column">
    <% if(process.env.NODE_ENV !== 'production' ){ %>
    <div class="notification is-danger">
      <%= err.message %> <%= err.statusCode %>
      <br />
      <%= err.stack %>
      <button class="button lastPageButton is-large is-info is-centered">
        上一頁
      </button>
    </div>
    <% } else if(err.statusCode === 404){ %>
    <div class="notification theme-color">
      <p class="is-1 center-text">OOPS! 找不到此網址</p>
      <div class="buttons is-centered">
        <button class="button lastPageButton is-large is-info is-centered">
          上一頁
        </button>
      </div>
    </div>
    <% } else{ %>
    <div class="notification is-danger">
      <button class="delete"></button>
      <% if(err.message){ %>
      <p class="is-size-4"><%= err.message %></p>
      <% } else { %>
      <p>OOPS! 有什麼地方出錯了，請回前一頁</p>
      <% } %>
      <!-- 上一頁按鈕 -->
      <button class="button lastPageButton is-large is-info is-centered">
        上一頁
      </button>
    </div>
    <% } %>
  </div>
  <div class="column is-2"></div>
</div>
