<%- layout('layout/boilerplate') %>

<!-- Title, area, product, price, author, image, rating, thoughts, date -->
<section class="section">
  <div class="columns">
    <form
      action="/ramens/<%= ramen._id %>?_method=PATCH"
      class="form column is-8 is-offset-2 box"
      method="POST"
      enctype="multipart/form-data"
    >
      <h1 class="title">修改拉麵地圖</h1>
      <div class="field-group">
        <div class="field is-inline-block" style="width: 60%">
          <label class="label" for="title"
            >店家名稱<span class="required-field">*</span></label
          >
          <div class="control has-icons-left">
            <input
              type="text"
              placeholder="店家名稱"
              name="ramen[title]"
              id="title"
              class="input"
              value="<%= ramen.title %>"
              required
            />
            <span class="icon is-left">
              <i class="fas fa-utensils"></i>
            </span>
          </div>
        </div>
        <div class="field is-inline-block" style="width: 8.5%"></div>
        <div class="field is-inline-block" style="width: 30%">
          <label class="label" for="area"
            >區域 / 鄰近地標<span class="required-field">*</span></label
          >
          <div class="control has-icons-left">
            <input
              type="text"
              placeholder="拉麵店所在區域"
              name="ramen[area]"
              id="area"
              class="input"
              value="<%= ramen.area %>"
              required
            />
            <span class="icon is-left">
              <i class="mdi mdi-map"></i>
            </span>
          </div>
        </div>
      </div>

      <div class="field">
        <label class="label" for="product"
          >拉麵名稱<span class="required-field">*</span></label
        >
        <div class="control has-icons-left">
          <input
            type="text"
            placeholder="拉麵名稱"
            name="ramen[product]"
            id="product"
            class="input"
            value="<%= ramen.product %>"
            required
          />
          <span class="icon is-left">
            <i class="mdi mdi-noodles"></i>
          </span>
        </div>
      </div>

      <div class="field">
        <label class="label" for="price"
          >價格<span class="required-field">*</span></label
        >
        <div class="control has-icons-left">
          <input
            type="number"
            placeholder="價格"
            name="ramen[price]"
            id="price"
            class="input"
            value="<%= ramen.price %>"
            required
          />
          <span class="icon is-left">
            <i class="fas fa-dollar-sign"></i>
          </span>
        </div>
      </div>

      <!--圖片上傳 -->
      <div class="field">
        <label class="label" for="images">圖片</label>
        <div class="file has-name is-fullwidth is-right">
          <label class="file-label">
            <input class="file-input" type="file" name="images" multiple />
            <span class="file-cta">
              <span class="file-icon">
                <i class="fas fa-upload"></i>
              </span>
              <span class="file-label"> 選擇檔案… </span>
            </span>
            <span class="file-name" id="file-name"> </span>
          </label>
        </div>
      </div>
      <div class="field">
        <button type="button" class="button is-danger reset-file">
          重新選擇
        </button>
      </div>

      <!-- TODO: 顯示上傳照片 並新增刪除按鈕-->
      <% if(ramen.images.length > 0){ %>
      <section class="section">
        <div class="container">
          <div class="field">
            <div id="carousel-demo" class="carousel">
              <div class="item-1">
                <!-- Slide Content -->
                <img src="<%= ramen.images[0].url%>" alt="" />
              </div>
              <div class="item-2">
                <!-- Slide Content -->
              </div>
              <div class="item-3">
                <!-- Slide Content -->
              </div>
            </div>
          </div>
        </div>
      </section>
      <% } %>

      <div class="field column"></div>

      <div class="field">
        <label class="label" for="rating">口味評分</label>
        <dic class="control">
          <input
            class="form-range"
            type="range"
            name="ramen[rating]"
            id="rating"
            min="1"
            max="10"
            step="0.1"
            style="width: 100%"
            value="<%= ramen.rating %>"
            required
          />
          <!-- <output class="bubble" style="background: red;color: white;padding: 4px 12px;position: absolute;border-radius: 4px;left: 50%;transform: translateX(-50%);"></output> -->
          <p class="is-size-5" id="showRatingValue"><%= ramen.rating %></p>
        </dic>
      </div>

      <div class="field">
        <label class="label" for="thoughts"
          >食記心得<span class="required-field">*</span></label
        >
        <div class="control">
          <textarea
            class="textarea"
            s
            name="ramen[thoughts]"
            id="thoughts"
            cols="30"
            rows="10"
            required
          >
<%= ramen.thoughts %></textarea
          >
        </div>
      </div>

      <div class="field is-grouped is-grouped-centered">
        <p class="control">
          <button class="button is-danger is-light">更新</button>
          <a href="/ramens/<%= ramen._id %> " class="button is-light">取消</a>
        </p>
      </div>
    </form>
  </div>
</section>
